@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --primaryCyan:hsl(185, 75%, 39%);
    --primaryVeryDark: hsl(229, 23%, 23%);
    --primaryGrayish: hsl(227, 10%, 46%);
    --neutral: hsl(0, 0%, 59%);
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: var(--primaryCyan);
    line-height: 1.6;
    height: 1024px;
}

/* POZADÍ */
.left-top,.right-bottom{
    position: absolute;
    z-index: -2;
    width: 900px;   
}

.left-top{
    top: 0;
    left:0;
    margin-top:-450px;
    margin-left: -200px;
}

.right-bottom{
    top: 0;
    right:0;
    margin-top:400px;
    margin-right:-100px ;
}


/* hlavni obsah */
.content{
    max-width: 350px;
    max-height: 370px;
    background: #fff;
    display:flex;
    flex-direction: column;
    margin:170px auto;
    border-radius: 10px;
    text-align: center;
}

/* hlavička */
.content .header{
    width:100%;
    height:140px;
    text-align: center;
    background-image: url('design/images/bg-pattern-card.svg');
    background-size: cover;
    border-radius: 10px 10px 0 0 ;
}

.content .header img{
    border-radius: 50%;
    margin-top:95px;
    border: 5px solid #fff;
}

/* střed */
.content .middle-content{
    height:145px;
    padding-top: 75px;
}

.content .middle-content p{
    color: var(--primaryGrayish);
}

.content .middle-content p span{
font-weight: 700;
color:var(--primaryVeryDark);
}

.content .middle-content p:last-child{
font-size:14px;
}


/* spodek */
.content .bottom-content{
    height:90px;
    display:flex;
    justify-content: space-around;
    padding: 25px 20px;
    border-top: 1px solid hsla(0, 0%, 59%, 0.377);
    color: var(--primaryGrayish);
    font-size:12px;
}


.content .bottom-content span{
    color:var(--primaryVeryDark);
    display: block;
    font-weight: 700;
    font-size:18px;
    line-height: 1.2;
}



.attribution{
    color: var(--primaryVeryDark);
    font-size:14px;
    text-align: center;
    padding: 20px;
}